{% set classes = [
  'c-page-intro',
  modifier_classes ? modifier_classes : ''
] %}

<div class="l-constrain">
	<div {{ add_attributes({ class: classes }) }}>
		{% if image is not empty %}
			<figure>
				<img src="{{image.src}}" alt='{{image.alt}}' width="465" height="262" />

				{% if image.caption is not empty %}
					<figcaption>{{image.caption}}</figcaption>
				{% endif %}
			</figure>
		{% endif %}

		<p class="lead">{{lead}}</p>

		{{ more_text }}

		{% if button is not empty %}
			{% include "@uswds/button/button.twig" with button %}
		{% endif %}
	</div>
</div>